[Desktop Entry]
Type=Application
Version=1.0
GenericName=Multiboot USB
Name=Ventoy
Comment=Create a multiboot USB
Exec=x-terminal-emulator -e ventoy
Icon=ventoy
Terminal=false
Categories=System
StartupNotify=false
X-GNOME-Autostart-Delay=60
Name[zh_CN]=Ventoy
Name[zh_TW]=Ventoy
Name[en]=Ventoy
Name[es]=Ventoy
Name[fr]=Ventoy
Name[it]=Ventoy
Name[pt]=Ventoy
Name[pt_BR]=Ventoy
Name[sr]=Ventoy
Name[ru]=Ventoy
Name[tr]=Ventoy
Comment[zh_CN]=创建一个 multiboot USB
Comment[zh_TW]=创建一个 multiboot USB
Comment[en]=Create a multiboot USB
Comment[es]=Crea un multiboot USB
Comment[fr]=Créer un multiboot USB
Comment[it]=Crea un multiboot USB
Comment[pt]=Crie um multiboot USB
Comment[pt_BR]=Crie um multiboot USB
Comment[sr]=Направите multiboot USB
Comment[ru]=Создайте multiboot USB
Comment[tr]=Oluşturmak multiboot USB
