[Desktop Entry]
Type=Application
Version=1.0
GenericName=Multiboot USB
Name=Ventoy wizard
Comment=Create a multiboot USB
Exec=x-terminal-emulator -e ventoy-wizard
Icon=ventoy-wizard
Terminal=false
Categories=System
StartupNotify=false
X-GNOME-Autostart-Delay=60
Name[zh_CN]=Ventoy 助手
Name[zh_TW]=Ventoy 助手
Name[en]=Ventoy wizard
Name[es]=Ventoy asistente
Name[fr]=Ventoy assistant
Name[it]=Ventoy assistente
Name[pt]=Ventoy assistente
Name[pt_BR]=Ventoy assistente
Name[sr]=Ventoy помоћник
Name[ru]=Ventoy помощник
Name[tr]=Ventoy asistan
Comment[zh_CN]=创建一个 multiboot USB
Comment[zh_TW]=创建一个 multiboot USB
Comment[en]=Create a multiboot USB
Comment[es]=Crea un multiboot USB
Comment[fr]=Créer un multiboot USB
Comment[it]=Crea un multiboot USB
Comment[pt]=Crie um multiboot USB
Comment[pt_BR]=Crie um multiboot USB
Comment[sr]=Направите multiboot USB
Comment[ru]=Создайте multiboot USB
Comment[tr]=Oluşturmak multiboot USB
